<header>
  <div class="header-container container">
    <h1>Logo</h1>
    <nav>
      <a>Link1</a>
      <a>Link2</a>
    </nav>
  </div>
</header>
<div class="jumbo">
  <div class="container jumbo-container">
    <img src="/assets/unicorn.svg" height="200">
    <div>
      <h1 class="title">Mystique</h1>
      <p class="subtitle">
        A dark and mystic theme <br> to inspire your next webapp.
      </p>
    </div>
  </div>
</div>
<div class="value-bullets">
  <div class="container value-bullets-container">
    <div class="card" *ngFor="let card of cards">
      <div class="card-header">
        <h3>{{card.title}}</h3>
      </div>
      <div class="card-image">
        <img [src]="card.icon" alt="">
      </div>
      <div class="card-body" [innerHTML]="card.content"></div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-container container">
    <div>
      This theme is provided to you by Daniel Niederberger under MIT. Get it at
      <a href="https://github.com/bersling/mystique">https://github.com/bersling/mystique</a>.
    </div>
  </div>
</footer>
