$primary: #29B82E;
$secondary: #9844F7;
$tertiary: #2736F7;
$black: #000000;
$white: #FFFFFF;

$header-height: 60px;


header {
  top: 0;
  left: 0;
  right: 0;
  background: $black;
  color: white;
  position: fixed;
  height: $header-height;
}

.jumbo {
  margin-top: $header-height;
  $jumbo-height:  calc(100vh - #{$header-height}); // TODO: heights...
  min-height: $jumbo-height;
  background: linear-gradient(217deg, rgba($primary, 1), rgba($black, 0.7) 40%, rgba($black, 0) 90%),
  linear-gradient(90deg, rgba($secondary, 1), rgba($black, 0.7) 50%, rgba($black, 0) 90%),
  linear-gradient(300deg, rgba($tertiary, 1), rgba($black, 0.7) 70%);

  .jumbo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: $jumbo-height;
    @media(max-width: 600px) {
      flex-direction: column;
    }
  }

}

.value-bullets {
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}


.title {
  font-size: 44px;
  color: white;
  width: 100%;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  a {
    padding: 20px;
    color: white;
  }
}


$grid-column-gap: 30px;
$grid-row-gap: 30px;

.value-bullets-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $grid-column-gap;
  grid-row-gap: $grid-row-gap;
  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

$gray9: lighten($black, 10%);

.card {
  $card-padding-left-right: 20px;
  $card-border-radius: 5px;
  border-radius: $card-border-radius;
  background: $gray9;
  .card-header, .card-body {
    padding-left: $card-padding-left-right;
    padding-right: $card-padding-left-right;
  }
  .card-header {
    padding-top: 20px;
    padding-bottom: 10px;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    h3 {
      color: rgba(0,255,0,1);
    }
  }
  .card-body {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
    line-height: 1.61;
  }
}

